---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import SubscribeButton from "@/components/SubscribeButton";
import DetailsButton from "@/components/DetailsButton";
import { getFormattedDate } from "../../utils/date.ts";
export const prerender = true;

export async function getStaticPaths() {
  const programEntries = await getCollection("program");

  const programFiltered = programEntries.filter((entry) => {
    return entry.data.draft === false
  });

  return programFiltered.map(entry => ({
    params: { entry: entry.slug }, props: { entry }}
  ));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const meta = {
  title: entry.data.title,
  speaker: entry.data.speaker,
  description: entry.data.description,
}

const slug = meta.speaker.replace(" ", "-").toLowerCase();
---

<PageLayout meta={meta}>
  <h1 class="program-details-speaker">{entry.data.speaker}</h1>
  <h2 class="program-details-title">{entry.data.title}</h2>
  <div class="program-date-time">
    <span class="program-date">
      {getFormattedDate(entry.data.date)}
    </span>
    <div class="program-sep" />
    <span class="program-time">{entry.data.time}</span>
  </div>
  <div class="program-place-type">
    <span class="program-place">{entry.data.place}</span>
    <div class="program-sep" />
    <span class="program-type">{entry.data.type}</span>
  </div>
  <p class="program-description py-8">
    {entry.data.description}
  </p>
  <div id="program-information" class="pb-4">
    <Content />
  </div>
  <SubscribeButton link={Astro.url.origin + "/subscribe/" + slug} />
</PageLayout>
