---
const { divId, id, label, name, error, style, required, type} = Astro.props;
---

<div class="mb-4" style={style} id={divId}>
  <label for={name} class="subscribe-label">
    {label}
  </label>
  <input
    type={type || "text"}
    name={name}
    class="subscribe-input"
    id={id}
    required={required}
  >
  {error && <p class="subscribe-error">{error}</p>}
</div>
