---
import AuthorEntry from "@/components/books/AuthorEntry";

const { metadata } = Astro.props;
---

<li class="book-entry">
  <ul class="book-authors">
    {
      metadata.frontmatter.authors.map((author) => (
        <AuthorEntry {author} />
      ))
    }
  </ul>
  <span class="book-title">- {metadata.frontmatter.title}</span>
  <span class="book-place">{metadata.frontmatter.place},</span>
  <span class="book-publisher">{metadata.frontmatter.publisher},</span>
  <span class="book-date">{metadata.frontmatter.date}.</span>
</li>
